
.navbar-link {
    font-family: 'Roboto', sans-serif;
    margin: 30px;
    text-decoration: none;
    color:#16A085;
    font-weight: bold;


}
.navbar-link:hover{
    color: red;
}
.navbar{
    
    text-transform: uppercase;
    font-size: 19px;
    text-align: center;
    

}
.background-content{
    background-image: url("../img/top-img.png");
    background-size: cover;
    width: 100%;
    height: 820px;

}
.content-center{
    text-align: center;


}
.title {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;

}
.content-center-text-up {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: bolder;
    width: 1000px;
    margin-left: 300px;
    margin-top: 100px;
}
.button {
    text-transform: uppercase;
    width: 193px;
    height: 52px;
    margin-top: 70px;
    margin-left: 270px;
    margin-right: 270px;
    color: #fff;
    background-color: #16A085;
    border-radius: 10px;
}
.footer-text {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: normal;
    text-align: left;
    width: 408px;
    height: 16px;
    margin-left: 1000px;
    margin-top: 141px;

}